body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}
.skills-grid, .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: var(--primary);
  color: white;
  padding: 10px;
  border: none;
}

form input:focus,
form textarea:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.hero {
  text-align: center;
  padding: 50px;
}
.hamburger {
  display: none;
}
section {
  padding: 60px 20px;
}